*{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #081c24;
    width: 100%;
    height: 158px;
    z-index: 0;
}
.main_header{
    height: 111px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_header{
    display: flex;
    align-items: center;
    font-size: 1em;
    height: 72px;
    box-sizing: border-box;
    max-width: 60%;
    float: left;
}
.margin{
    color: white;
    margin-right: 30px;
}
.right_header{
    max-width: 40%;
    display: flex;
    align-items: center;
    font-size: 1em;
    height: 72px;
    box-sizing: border-box;
}
.search_bar{
    width: 100%;
    background-color: #fff;
    height: 46px;
    border-bottom: 1px solid #dedede;
}
#search_input{
    width: 100%;
    height: 100%;
    font: inherit;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
main{
    padding-top: 158px;
    width: 100%;
    min-height: 100%;
    min-width: 1000px;
    z-index: 1;
}
.custom_bg{
    width: 100%;
    background-image: radial-gradient(circle at 20% 50%, rgba(12.55%, 24.71%, 34.51%, 0.98) 0%, rgba(19.22%, 31.76%, 41.57%, 0.88) 100%);
    color: #ffffff;
}
.single_column{
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: transparent;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
#img_poster{
    display: block;
    width: 300px;
    height: 450px;
    position: static;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.detail_overview{
    width: 700px;
    min-height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-left: 40px;
}
.title_movie{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    font-size: 2.0em;
    line-height: 1.1em;
    font-weight: 700;
}
.release_year{
    opacity: 0.6;
    font-size: 1.7em;
    font-weight: 400;
}
.info_overview{
    width: 100%;
}
div.info_overview h3{
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-bottom: 8px;
}
div.info_overview.overview p{
    font-size: 1em;
    line-height: 1.4em;
}
.featured{
    margin-top: 30px;
}
.people_no_image{
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 1.4em;
}
.profile{
    width: 33%;
    flex-basis: 33%;
    text-align: left;
    margin-bottom: 14px;
    margin-right: 0;
    padding-right: 20px;
}
.people_no_image .profile div{
    font-size: 1em;
}
.character{
    font-size: 0.9em;   
}
.more_detail{
    width: 100%;
    display: flex;
    align-content: flex-start;
    min-width: 1000px;
}
.white_left{
    background-color: #fff;
    width: 70%;
    min-height: 60%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-bottom: 40px;
}
.gray_right{
    background-color: #f1f1f1;
    width: 30%;
    min-height: 20%;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
}
.top_billed_cast{
    width: 740px;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
}
.top_billed_cast h3, .trailer h3{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.3em;
}
.top_billed_cast_ol {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    line-height: 1.4em;
}
.top_billed_cast_ol li {
    width: 140px;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: list-item;
}
.top_billed_cast_ol li img{
    width: 138px;
    height: 175px;
    display: block;
    color: #000;
}
.top_billed_cast_ol li p {
    line-height: 1.4em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top_billed_cast_ol li p :first-of-type{
    padding: 10px 10px 0px 10px;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: bold;
}
.top_billed_cast_ol li p :last-of-type{
    padding: 0px 10px;
    font-size: 0.9em;
}
.trailer{
    width: 740px;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #d7d7d7;
}
.trailer div{
    width: 533px;
    height: 300px;
}
.gray_right div{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    box-sizing: border-box;
}
.fact div{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
}
.fact p{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    padding-bottom: 2px;
    box-sizing: border-box;
    margin: 0 0 20px 0;

}
.form{
    display: block;
    padding-bottom: 6px;
    font-weight: 600;
    line-height: 1em;
    font-size: 1em;
}